body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 60px;
    line-height: 1.2em;
    font-family: 'Lilita One', cursive;
}
h2{
    font-size: 40px;
    line-height: 1.2em;
    font-family: 'Lilita One', cursive;
}
p{
    font-size: 18px;
    line-height: 1.3em;
    text-align: justify;
}
.word-color{
    color: #e3000e;
}
.flexiable-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 7%;
    margin-bottom: -5px;
}
.button-link{
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    text-decoration: none;
    padding: 10px 30px;
    color: azure;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}
.half-width img{
    width: 80%;
}
.about-bg{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -5%;
    padding-right: 7%;
}
.my-recipies{
    text-align: center;
}
.recipies-bg{
    background-repeat: no-repeat;
    background-size: cover;
}
.one-third{
    width: 30%;
    padding: 20px;
    margin: 3%;
    border-radius: 20px;
    /* height: 500px; */
    box-shadow: 10px 20px 40px gray;
    box-shadow: 10px 20px 40px grey;
    text-align: center;
}
.one-third img{
    width: 100%;
    border-radius: 15px;
}
.one-third h2{
    font-size: 28px;
    line-height: 1.2em;
    font-family: 'Lilita One', cursive;
}
.eshop-bg{
    background-color: #d2322b;
    color: white;
    margin-top: 100px;
}
#mac-app, #google-app{
    width: 40%;
}
.save-up{
    margin-top: -55px;
}
.shop-text{
    text-align: center;
    margin-top: 50px;
}
.delivery-btn{
    background-color: #d2322b;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
}
.my-card{
    background-image: url(images/footer-bg.jpg);
}
.order-bg{
    background-image: url(images/footer-bg.jpg);
}
.footer-bg img{
    width: 15%;
}
.footer-bg{
    background-image: url(images/footer-bg.jpg);
    padding: 25px;
    color: white;
    text-align: center;
}
.footer-bg a{
    color: white;
}